append head
    link(rel="stylesheet" href="/stylesheets/footer.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")


block footer
footer
    div.footer-main
        div.left-container
            p Connect
            div.contact
                div.link Seth Corbett
                    a(href="https://github.com/scorbz9" target="_blank" class="social-links")
                        i.fa.fa-github#github-link
                    a(href="https://www.linkedin.com/in/seth-corbett-230824231/" target="_blank" class="social-links")
                        i.fa.fa-linkedin#github-link
                div.link Robert Popphan
                    a(href="https://github.com/Bapboop" target="_blank" class="social-links")
                        i.fa.fa-github#github-link
                    a(href="https://www.linkedin.com/in/robertpopphan/" target="_blank" class="social-links")
                        i.fa.fa-linkedin#github-link
                div.link Grant Russell
                    a(href="https://github.com/grantongrant" target="_blank" class="social-links")
                        i.fa.fa-github#github-link
                    a(href="https://www.linkedin.com/in/grant-ellis-russell/" target="_blank" class="social-links")
                        i.fa.fa-linkedin#github-link
                div.link Eddie Verdusco
                    a(href="https://github.com/verduscos" target="_blank" class="social-links")
                        i.fa.fa-github#github-link
                    a(href="https://www.linkedin.com/in/eddie-verdusco/" target="_blank" class="social-links")
                        i.fa.fa-linkedin#github-link


        div.right-container
            div
              p.footer-jingles © 2021 Jollyjingles, Inc.
