append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/nav-bar.css")
block content
    nav(class='header')
        div(class='navbar')
            div(class='logo-container')
                a(class='jollyjingle-logo' href='/')
                    p jolly
                        p(id='brand-color') Jingles
            if view === "Explore"
                if !user
                    div(class='my-jingles-container')
                        a(href='/users/sign-up' class='my-jingles') My Jingles
                    div(id="search-container")
                        input(type="text", id="search" name="Search", placeholder= "Search Jingles")
                        i.fa.fa-search(id='search-icon')
                    div(id="right-container")
                    div(class='user-buttons-container')
                        a(href='/users/sign-in' class='user-button' id='sign-in-button') Sign in
                        a(href='/users/sign-up' class='user-button' id='sign-up-button') Sign up
                if user
                    div(class='my-jingles-container')
                        a(href='/users/'+user.id+'/jingleLists' class='my-jingles') My Jingles
                    div(id="search-container")
                        form(method="get" action=`/jingles/search`)
                            //- input(type="hidden" name='_csrf' value=csrfToken)
                            //- input(type='submit' value="✖" id="delete-jingle-from-list")
                            input(type="text" id="search" name="Search" placeholder= "Search Jingles")
                            i.fa.fa-search(id='search-icon')
                    div(id="right-container")
                        p Welcome,
                            strong  #{user.name}!
                    div(class='user-buttons-container')
                        form(method='post' action='/users/sign-out')
                            input(type='submit' value='Sign Out' class='user-button' id='sign-out-button')
            if view === "my-Jingles"
                if !user
                    div(class='my-jingles-container')
                    div(id="search-container")
                    div(id="right-container")
                    div(class='user-buttons-container')
                        a(href='/users/sign-in' class='user-button' id='sign-in-button') Sign in
                        a(href='/users/sign-up' class='user-button' id='sign-up-button') Sign up
                if user
                    div(class='my-jingles-container')
                    div(id="search-container")
                    div(id="right-container")
                        p Welcome,
                            strong  #{user.name}!
                    div(class='user-buttons-container')
                        form(method='post' action='/users/sign-out')
                            input(type='submit' value='Sign Out' class='user-button' id='sign-out-button')
            if view === "Jingle-info"
                if !user
                    div(class='my-jingles-container')
                        a(href='/users/sign-up' class='my-jingles') My Jingles
                    div(id="search-container")
                    div(id="right-container")
                    div(class='user-buttons-container')
                        a(href='/users/sign-in' class='user-button' id='sign-in-button') Sign in
                        a(href='/users/sign-up' class='user-button' id='sign-up-button') Sign up
                if user
                    div(class='my-jingles-container')
                        a(href='/users/'+user.id+'/jingleLists' class='my-jingles') My Jingles
                    div(id="search-container")
                    div(id="right-container")
                        p Welcome,
                            strong  #{user.name}!
                    div(class='user-buttons-container')
                        form(method='post' action='/users/sign-out')
                            input(type='submit' value='Sign Out' class='user-button' id='sign-out-button')
