extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    h1 Sign Up for jollyJingles
    p Sign up to see your friend's favorite jingles, get recommendations, and join a community of jolly jinglers.

    form(method='post' action='/users/sign-up')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Name', 'name', name, 'text', 'Name')
        +field('Email address', 'email', email, 'text', 'you@yours.com')
        +field('Password', 'password', password, 'password')
        input(type='submit' value='Sign Up')
    div
        p Already a member?
            a(href='/users/sign-in') Sign in
