extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-jinglelists.css")

block content
    div.main-container
        a.myJingles-link(href="") My Jingles
        div.jinglelists-container
            div.sidelinks-container
                a.list-tag#all-tag(href="") All
                a.list-tag(href="") List1
                    //- for each list in lists
                    //-     a(href="")= list.name
                a#add-list-butt(href="") Add list
                //- not using explore-butt styling
                a#add-list-butt(href="") Explore
            div.jingles-container
                div.column-name-container
                    p cover
                    p title
                    p author
                    p avg rating
                    p review
                    p date added
                        //- for each jingle in jingles
                div.jingle-table
                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021
