* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.header {
  width: 100vw;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f9f8f4;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid #0000002f;
  margin-bottom: 25px;;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}



.my-jingles {
  font-size: 20px;
  margin-right: 10px;
  color: #8c7e71;
}

.jollyjingle-logo {

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0px;
  font-size: 30px;
  color: #8c7e71;
  font-weight: 50px;
  margin-left: 21px;
}

#brand-color {
  color: #594c3f
}

.sign-in-button {
  background-color: rgba(0, 0, 255, 0.068);
  padding: 3px;
  width: 100px;
  text-decoration: none;
  color: #8c7e71;
  /* margin-left: 20px; */
  text-align: center;
  border-radius: 10px;
}

.sign-up {
  margin-left: 20px;
}

#search {
  height: 32px;
  width: 388.39px;
  border: 1px solid #0000002f;
  background: #ffffff;
  border-radius: 3px;
  padding: 4px 26px 4px 8px;
}

#jinglepic {
  height: 200px;
  width: 200px;
}

.jingle-container {
  margin: 0 auto;
  padding: 32px;
  max-width: 1400px;

  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.jingles-grid {
  margin-left: 250px;
  display: inline-grid;

  height: 80%;
  width: 80%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  align-items: center;
  align-content:center;
  /* justify-items: center; */
  justify-content: space-between;

  vertical-align: baseline;
  column-gap: 10px;

}

.sign-in-container {
  /* background-color: blue; */

  width: 150px;
  display: flex;
  justify-content: space-evenly;
}

#nameText {
  font-weight: bold;
}

a {
  text-decoration: none;
}
