body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #a2a19f;
}

footer {
    background-color: #f9f8f4;
    margin-bottom: -100;
    width: 100vw;
    height: 200px;
    margin-top: 25px;
    padding-bottom: 20px;
    margin-left: -10px;
    overflow: hidden;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 25px;
    width: 1150px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.left-container p {
    color: #a2a19f;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.link{
    color: #a2a19f;
    display: flex;
    align-items: center;
    padding: 5px 0;
    /* font-weight: bold; */
}

.link:hover > a {
    color: #594c3f
}

a {
    text-decoration: none;
}

.right-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 40%;
}

.footer-img {
    cursor: pointer;
    height: 40px;
}

#github-link {
    color: #a2a19f;
    cursor: pointer;
    font-size: 25px;
    margin-left: 15px;

}

.footer-jingles {
    margin-right: 150px
}

.social-links {
    color: #a2a19f;
}
