* {
  box-sizing: border-box;
}

body {
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}

.header {
  box-shadow:  0 2px 2px rgba(0, 0, 0, 15%);
}

.main__frame {
  min-width: 320px;
  padding: 0 50px;
  margin: 100px auto 0px;
  position: relative;
  max-width: 1312px;
}

.main_frame_grid_container {
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 32px !important;
  margin-bottom: 40px;
}

.left__column {
  grid-column: span 3;
  z-index: 1;
  flex-direction: column;
  position: sticky;
  top: 100px;
  align-self: start;
}

.jingle__cover {
  display: block;
  background-size: auto;
  outline: 0;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
  margin: 0px auto 12px;
  max-width: 100%;
  border-radius: 0 6% 6% 0;
}

.jingle__cover > img {
  object-fit: cover;
  width: 100%;
  border-radius: 0 6% 6% 0;
}

.jingleList__action {
  max-width: 100%;
  margin: 24px auto;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  position: relative;
  display: flex;
}

#dropdrown {
  justify-content: center;
}

select {
  width: 100%;
  height: 40px;
  padding: 0 40px 0px 25px;
  border-radius: 3rem;
  font-weight: 600;
  text-decoration: none;
  border: 0 solid transparent;
  background-color: #3F8363;
  color: white;
  font-size: 16px;
  text-size-adjust: auto;
  text-align: center;
}

.right__column {
  grid-column: 5 / 13;
  display: inline-grid;
  grid-template-columns: repeat(8, minmax (0, 1fr));
  grid-auto-rows: auto;
}

/* #center-container {
    display: flex;
    justify-content: space-around;
    height: 20px;
    align-items: center;
  } */

/* #jinglepic {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
  } */

/* .jingle-img-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
} */

/* .jingle-info-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  margin-top: 10px;
  width: 80%;
} */

p {
  margin: 0 auto;
}

#jingle__title {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1E1915;
}

#artist__info {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1E1915;
}

#lyrics {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stars__container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.stars {
  display: inline-block;
  font-size: 26px;
  font-family: Times;
  line-height: 1;
  justify-content: center;
}

.stars::before {
  --percent: calc(var(--rating) / 5 * 100%);
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fc0 var(--percent), #D3D3D3 var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#description, .lyrics-container {
  line-height: 1.37;
  color: #1E1915;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin: 20px 0px 30px 0px;
}

#avgReviews {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1E1915;
  margin-left: 10px;
}

#Ratings__title {
  margin-bottom: 5px;
}

#Ratings__title, #lyrics__title, #review__username {
  font-weight: 400;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1E1915;
}

#lyrics {
  margin: 7px 0px;
}

.reviews-container {
  color: #1E1915;
}

.reviews a {
  color: blue;
  font-weight: bolder;
}

.reviews-container a:hover {
  text-decoration: underline;
}

.review {
  margin: 20px 0px;
}

.review p {
  display: inline-block;
}

#message {
  display: block;
  margin-top: 7px;
}

.review form {
  display: inline-block;
}

#delete-review {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: #594c3f;
  display: inline-block;
  font-weight: bold;
  margin: 0px 0px 0px 1px;
  position: relative;
  cursor: pointer;
}

#delete-review:hover {
  color: red;
  text-decoration: underline;
}

#user-ratings {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.footer {
  margin-bottom: -10px;
}

.user-button {
  background-color: #d6cfbf;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  color: #594c3f;
  text-align: center;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: bold;
  margin: 10px;
  border: transparent;
}

.user-button:hover {
  background-color: #594c3f;
  color: #f4f1ea
}

.reviews-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.reviews-header p {
  width: 70%;
}

.reviews-header a {
  width: 30%;
}

.hide {
  display: none;
}

#success_message {
  margin-left: 550px;
  position: absolute;
  font-weight: 900;
  font-size: 24px;
  color: green;
  background-color: rgb(90, 206, 90);
  padding: 20px 15px;
  border-radius: 8px;
  z-index: 102;

  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

#already_exists_message {
  margin-left: 550px;
  position: absolute;
  font-weight: 900;
  font-size: 24px;
  color: red;
  background-color: rgb(212, 154, 154);
  padding: 20px 15px;
  border-radius: 8px;
  z-index: 102;

  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
      opacity: 0;
  }
}
