.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  
  }
  
  #center-container {
    display: flex;
    justify-content: space-around;
    height: 20px;
    align-items: center;
  }
  
  #jinglepic {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
  }

  .top-container {
    margin: 100px auto;
    width: 600px;
    display: flex;
    justify-content: center;
}

.jingle-img-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.jingle-info-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  margin-top: 10px;
  width: 80%;
}

.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 2px;
}

#description {
  margin-top: 10px;
}

#star-rating {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  font-size: 11px;
  color:#999999
}

.bottom-container {
  margin: 100px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.lyrics-container {
  width: 80%;
  padding: 24px;
  white-space: pre-line;
  line-height: 1.75;
}

.reviews-container {
  width: 80%;
  padding: 24px;
}

#select {
  width: 200px;
}

.heading {
  font-size: 24px;
  padding: 10px 0 10px 0;
}

.rate {
  align-self: center;
  height: 11px;
  padding: 0 10px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:22px;
  color:#ccc;
}

.rate:not(:checked) > label::before {
  content: '★ ';
}

.rate > input:checked ~ label {
  content: '★ ';
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
