.main-container {
    color: #006372;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 auto;
    width: 1000px;
}

.jinglelists-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.myJingles-link {
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0 5px 0;
}

.list-tag {
    text-decoration: none;
}

#explore-butt {
    padding: 10px 0 5px 0;
    text-decoration: none;
}

#add-list-butt {
    background-color: rgba(211, 211, 211, 0.219);
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 5px 0;
    padding:1px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.sidelinks-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 200px;
}

.jingles-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 800px;
}

.column-name-container {
    border-bottom: 1px solid lightgray;
    color: rgb(61, 61, 61);
    display: grid;
    font-size: 12px;
    font-weight: bold;
    grid-template-columns: repeat(6, 1fr);
    height: 35px;
    margin-top: 40px;
}

/* each jingle row */
img {
    height: 125px;
    padding-right: 10px;
}

.jingle-table {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.jingle-container {
    align-items: center;
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 10px;
    padding-top: 10px;
}

.jingle-container > * {
    display: flex;
    text-decoration: none;
}
