body {
    background-color:#f9f8f4;
}

#sign-in-logo {
    font-size: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:  #8c7e71;
    display: absolute;
    margin-top: 7px;
    margin-left: 10px;
}

#sign-in-logo strong {
    color:  #594c3f
}

#home-link {
    text-decoration: none;
}

#sign-in-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    border-radius: 3px;
    margin-top: 10px;
    height: 100%;
}

#sign-in-title {
    margin-top: 10px;
}

#sign-in-form-container em {
    color:  #8c7e71;
    font-style: normal;
}

#sign-in-form-container h1 {
    color: #594c3f;
    font-weight: bold;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#sign-in-form-container p,
#sign-in-form-container a {
    color: #594c3f;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#sign-in-submit {
    margin-top: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #f4f1ea;
    border-radius: 2px;
    border: 1px solid #877855;
    color: #40362d;
    font-size: 15px;
}

#sign-in-submit:hover {
    background-color: #d6cfbf
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-control {
    display: flex;
    padding: 10px;
    margin: 5px;
    float: left;
    position: relative;
    right: 5px;
}

input, label {
    display: block;
}

#form-label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}

#sign-up-container {
    display: inline;
    margin-bottom: 7px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    position:relative;
    right: 5px;
}

#not-a-member {
    position: relative;
    align-self: flex-start
}

#sign-up-link {
    text-decoration: none;
    position:relative;
    right: 15px;
}

#sign-up-link:hover {
    color: red;
    text-decoration: underline;
}

.alert,
.alert li {
    font-size: 14px;
    font-weight: bold;
}
